body{
  
    justify-content: center ;
    align-items: center;
}


.container{
    display:grid;
    justify-content: center;
    width: 100px;
    height: 100vh;
    background-image: linear-gradient(to right, #747272 0%, orange 100%);
}

span{
 background:rgb(3, 3, 141);
}

p{
    margin-bottom: 100px;
}